.balanceBox {
    position: relative;
    width: auto;
    height: 100%;
    max-width: 350px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding-left: 20px;
    text-align: left;
  }

.left {
    float: left;
}

.right {
    float: right;
}

  .searchOptions{
      overflow: auto;
      height: 500px;
      text-align: center;
  }

  .balanceTitle {
    text-align: center;
    position: relative;
    left: -20px;
    padding-top: 5px;
  }

  .balanceBtn {
    position: relative;
    left: calc(50% - 60px - 20px);
    margin-top: 28px;
    margin-bottom: 45px;
    width: 120px;
    height: 32px;
    background: green;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.8;
  }

  .collapseBtn{
    margin-top: 28px;
    margin-bottom: 45px;
    width: 120px;
    height: 32px;
    background: green;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
  }

  .expandBtn{
    width: 100%;
    height: 32px;
    background: green;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .balanceBtn:enabled:hover{
    transition: 0.5s ease;
    opacity: 1;
  }


  
  .balanceSelect {
    position: relative;
    left: calc(50% - 150px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 45px;
    max-width: 150px;
    padding: 2px 38px 2px 16px;
    background: rgb(232, 240, 239) url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 16px center;
    background-size: 10px;
    transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 25px;
    text-decoration: black underline;
  }

  .balanceLine {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 85%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }