.registerBox {
    position: relative;
    width: auto;
    max-width: 360px;
    height: auto;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding-left: 20px;
  }
  
.registerTitle {
    position: relative;
    text-align: center;
    left: -20px;
    padding-top: 5px;
}

.registerProfile{
    position: relative;
    width: 85%;
    border: 1px solid gray;
    border-radius: 15px;
    height: 30px;
    color: black;
    opacity: 0.8;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 95%;
}
  
.registerBtn {
    position: relative;
    left: calc(50% - 60px - 20px);
    margin-top: 28px;
    margin-bottom: 45px;
    width: 120px;
    height: 32px;
    background: green;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
  }

  .registerSelect {
    position: relative;
    left: calc(50% - 110px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 57px;
    padding: 10px 38px 10px 16px;
    background: rgb(232, 240, 239) url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 16px center;
    background-size: 10px;
    transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  .registerBtn:enabled:hover {
      opacity: 0.8;
  }

  .registerBtn:disabled {
    background: darkgreen;
    text-decoration: white line-through;
  }

  .registerDetailBtn {
    position: relative;
    margin-top: 28px;
    margin-right: 14%;
    margin-bottom: 45px;
    width: 120px;
    height: 32px;
    background: green;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .registerLine {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 4px;
    width: 85%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    opacity: 0.6;
  }
  
  .registerLine:focus{
    opacity: 1;
    border: 1px solid #AAA;
    transition: 1s;
  }

.red {
    border-bottom: 1px solid red;
  }

  .redText {
    color:red;
  }


  .innerText{
    border-bottom: 1px solid rgb(155, 155, 155);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    color: #AAA;
  }