.loginBox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 250px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding-left: 20px;
}

.loginTitle {
  text-align: center;
  position: relative;
  left: -20px;
  padding-top: 5px;
}

.loginBtn {
  position: relative;
  left: calc(50% - 60px - 20px);
  margin-top: 28px;
  margin-bottom: 45px;
  width: 120px;
  height: 32px;
  background: green;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
}

.loginBtn:hover{
  opacity: 0.8;
}

.loginLine {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 85%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}