/* Dropdown Button */

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.button1 {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #4CAF50;
}

/* Green */

.button2 {
  background-color: #008CBA;
}

/* Blue */

.button3 {
  background-color: #f44336;
}

/* Red */

.button4 {
  background-color: #e7e7e7;
  color: black;
}

/* Gray */

.button5 {
  background-color: #555555;
}

/* Black */

.paymentCreateBox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 350px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding-left: 20px;
}

.paymentCreateSelect {
  position: relative;
  left: calc(50% - 110px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 45px;
  max-width: 130px;
  padding: 2px 38px 2px 16px;
  background: rgb(232, 240, 239) url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 16px center;
  background-size: 10px;
  transition: border-color .1s ease-in-out, box-shadow .1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 25px;
  text-decoration: black underline;
}

.paymentCreateTitle {
  text-align: center;
  position: relative;
  left: -20px;
  padding-top: 5px;
}


.paymentBtn
{
   display: inline-block;
   width: 50%;     
   height: 100%;      
   margin-bottom: 0.5em;
   color: #fff;
   border-radius: 5px;
   border: solid #cccccc 1px;
   box-shadow: 0 1px 2px 2px #888888;
   clear:right;
   text-align: center;
   opacity: 0.75;
}

.approve{
  background-color: green;
}

.reject{
  background-color: red;
}

.paymentBtn:hover {
  transition: 0.5s ease;
  opacity: 1;
}

.paymentCreateLine {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 85%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

.innerText {
  border-bottom: 1px solid rgb(155, 155, 155);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  color: #AAA;
}

.red {
  border-bottom: 1px solid red;
}

/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display: block;
}