.profileBox {
    position: relative;
    width: auto;
    height: auto;
    max-width: 250px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .profileTitle {
    text-align: center;
  }

  .profileBtn {
    position: relative;
    margin-top: 28px;
    margin-bottom: 20px;
    width: 120px;
    height: 32px;
    background: green;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
  }

  .profileBtn .btn{
    margin-top: 0;
  }

  .profileBtn:hover{
    opacity: 0.8;
  }

.checkBox{
  position: relative;
}
.profileLine {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 95%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

.profileSelect {
  position: relative;
  left: calc(50% - 110px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 57px;
  padding: 10px 38px 10px 16px;
  background: rgb(232, 240, 239) url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 16px center;
  background-size: 10px;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.profileSelect:hover {
  border: 1px solid #999;
}
.profileSelect:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}