
/* Style The Dropdown Button */
.dropbtnNav {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdowNav {
    position: relative;
    display: inline-block;
}
.divider{
    width:15px;
    height:auto;
    display:inline-block;
  }
/* Dropdown Content (Hidden by Default) */
.dropdown-contentNav {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentNav a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-contentNav a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hoverNav .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hoverNav .dropbtn {
    background-color: #3e8e41;
}
