.approvalTable thead h1 {
	font-weight: bold;
	font-size: 3em;
	text-align: left;
  color: white;
  text-align: center;
}


.approvalTable td {
	font-weight: normal;
	font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.approvalTable {
	  overflow: hidden;
	  width: 100%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  border: 1px solid black;
  text-align: center;
  table-layout: fixed;
  margin-bottom: 50px;
}

.approvalTable thead, td {
  border: 1px solid black;
  word-wrap: break-word;
}

.approvalTable td, .approvalTable th {
	  padding-bottom: 2%;
	  padding-top: 2%;
}

/* Background-color of the odd rows */
.approvalTable tr:nth-child(odd) {
	  background-color: white;
}

/* Background-color of the even rows */
.approvalTable tr:nth-child(even) {
	  background-color: lightgray;
}

.approvalTable th {
	  background-color: #1F2739;
}

.approvalTable th { color: white; }

/* .approvalTable tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
} */

.approvalTable td:hover {
  background-color: rgb(227, 231, 233);
  color: white;
  font-weight: bold;
  
  box-shadow: rgb(219, 32, 32) -1px 1px, rgb(0, 0, 0) -2px rgb(0, 0, 0)F7C21 -3px 3px, rgb(0, 0, 0) -4px 4px, rgb(0, 0, 0) -5px 5px, rgb(0, 0, 0) -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

.btn
{
   display: inline-block;
   width: 50%;     
   height: 100%;      
   margin-bottom: 0.5em;
   color: #fff;
   border-radius: 5px;
   border: solid #cccccc 1px;
   box-shadow: 2px 2px 1px #888888;
   clear:right;
   text-align: center
}

.approve{
  background-color: green;
}

.reject{
  background-color: red;
}

.details{
  background-color: blue;
}